.galaxy-container {
    width: 100vw;
    height: 100dvh;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 0;
    pointer-events: auto;

    canvas {
        display: block;
        width: 100% !important;
        height: 100% !important;
    }
}